body {
    background-color: lightslategray;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
}

#leftStickDiv {
    width: 180px;
    height: 180px;
    margin: 35px;
}

#rightStickDiv {
    width: 180px;
    height: 180px;
    margin: 35px;
}

.shootButton {
margin-left: 130px;
width: 80px;
height: 80px;
}

.lifesImg {
    width: 88px;
    margin-bottom: 15px;
}

#lifes {
    display: flex;
    justify-content: flex-end;
}

.ammoLable {
    color: yellow;
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
}